*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ----------------------------------------- */
/* NAV CONTAINER */
/* ----------------------------------------- */

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgb(177, 177, 177);
  height: 80px;
}

.nav-container {
  /* background-color: red; */
  border: 2px solid red;
  max-width: 1200px;
  width: 90%;
}
